<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
</head>
<body>
<section>
   <div class="container">
       <div class="row">
           <div class="col-md-6 offset-md-3">
               <div class="my-card">

<!--                   <div th:if=${param.success}">-->
<!--                       <div class="alert alert-info">You've successfully registered</div>-->
<!--                   </div>-->

                   <h1 class="text-center mb-3"> Register here !!</h1>

                   <form action="" th:action="@{/home/register}" th:object = "${user}" method="post">

                       <div class="form-group mb-3">
                           <label for="email_feild">Your Email</label>
                           <input type="email" class="form-control" id="email_feild" placeholder="email"
                                  th:field="*{email}" required autofocus="autofocus"
                           >
                       </div>

                       <div class="form-group mb-3">
                           <label for="username_feild">Username</label>
                           <input type="text" class="form-control" id="username_feild" placeholder="username"
                                  th:field="*{username}" required autofocus="autofocus"
                           >
                       </div>

                       <div class="form-group mb-3">
                           <label for="password_feild">Password</label>
                           <input type="password" class="form-control" id="password_feild" placeholder="password"
                                  th:field="*{password}" required autofocus="autofocus"
                           >
                       </div>

                       <div class="form-group mb-3">
                           <label for="contact_feild">Contact No.</label>
                           <input type="number" class="form-control" id="contact_feild" placeholder="contact"
                                  th:field="*{contact}" required autofocus="autofocus"
                           >
                       </div>

                       <div class="form-group mb-3">
                           <label for="address_feild">Address</label>
                           <input type="text" class="form-control" id="address_feild" placeholder="address"
                                  th:field="*{address}"
                           >
                       </div>

                       <div class="container text-center">
                           <button type="submit" class="btn btn-success">Submit</button>
                           <button type="reset" class="btn btn-danger">Reset</button>
                       </div>
                   </form>
               </div>
           </div>
       </div>

   </div>
</section>

</body>
</html>